<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flying.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".notification.NotificationDebugActvity" />

        <service
            android:name=".notification.LockNotificationListenerService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".compount.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".compount.TestActivity" />
        <activity
            android:name=".TestDownloadImage"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".db.DbTestActivity" />
        <activity android:name=".activity.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestMeasureActivity" />
        <activity android:name=".activity.TestListActivity" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragment.TestFragmentActivity" />
        <activity android:name=".activity.TestRunningActivity" />
        <activity android:name=".activity.DownloadActivity"></activity>
    </application>

</manifest>